LAYOUT_PATH=data/maps/layout_2.txt
ADDRESSES_PATH=data/addresses/layout_2.json

NB_AGENTS=5
AGENT_SPAWN_INTERVAL=1000
INCREMENTAL_VELOCITY=0.005
INCREMENTAL_DIRECTION=0.05
MIN_VELOCITY=0.1
MAX_VELOCITY=1.0

TIC_DURATION=30

BATTERY_DISCHARGING_MOVE=0.05
BATTERY_DISCHARGING_PICK=1.0
BATTERY_DISCHARGING_DELIVER=1.0
BATTERY_CHARGING_RATE=0.03
BATTERY_EMERGENCY_RATIO=0.5